body{
    font-family: Georgia;
    line-height: 22px;
    box-sizing: border-box;
}
#wrapper{
    background: #ffffff;
}
/* center for every have 960px of width */
.wp-inner{
    width:960px;
    margin: 0px auto;
}
.fl-left{ float: left;}
.fl-right{float: right;}
/* style topbar */
#topbar{
    background: #55415f;
    padding: 9px 0px 10px 0px;
    font-size: 11px;  
}
#topbar a{
    color: #ffffff;
}
#top-menu li{
    float: left;
}
#top-menu li a{
    padding-left: 4px;
    padding-right: 6px;
    border-right: 2px solid #ffffff;
}
#top-menu li:last-child a{
    border: none;
}

/* style header */
#header{
    padding: 38px 0px 38px 0px;
}
#header a{
    color: #333333;
    text-decoration: none;
}
#logo a{
    font-size: 26px;
}
#logo p{
    font-size: 12px;
    margin-top: 14px;
}
#main-menu li{
    float: left;
    padding: 21px 0px 22px 20px;
    /* padding-bottom: 2px solid red;  */
}
#main-menu li a{
    padding-bottom: 18px;
    border-bottom: 2px solid #ebebeb; 
}
#main-menu li a:hover{
    color: #55415f;
    padding-bottom: 17px;
    border-bottom: 3px solid #55415f;
}

/* style slider */
#slider{
    background: #ebebeb;
}
#item-slider{
    position: relative;
}
.minitor{
    margin: 25px 44px 6px 0px;
}
#textblock{
    position: absolute;
    top: 140px;
    left:576px;
}
.title-textblock{
    font-size: 36px;
    margin-bottom: 29px;
    color: #55415f;
}
#textblock p{
    margin-bottom: 28px;
    color: #999999;
}
#textblock a{
    text-decoration: none;
    border: 1px solid #55415f;
    border-radius: 10px;
    padding: 10px 12px;
    color: #ffffff;
    background: #55415f;
}    
#textblock a:hover{
    background: #a232df;
}
.controls{
    /* position: absolute;
    background: #ffffff;
    height: 50px; */
    background: rgb(192, 166, 166);
    height: 50px;
   
}
#previous{
    border : 1px solid #ffffff;
    border-top-left-radius: 12px;
    height: 55px; 
}
.b1{
    background-image: url("images/controls-left-arrow.png");
}

/* style services  */
#services{
    text-align: center;
    background: red;
}
.sub-services:first-of-type{
    margin-left: 30px;
}
.sub-services{
    width: 211px;
    height: 243px;
    display: block;
    margin-right:19px;
    text-align: center;
}
.sub-services:last-of-type{
    margin-top: 0px;
}
.sub-services p{
    text-align: left;
    color: #807d77;
    font-size: 13px;
}
.sub-services h3{
    font-size: 18px;
    padding-top: 21px;
    color: #55415f;
    /* padding-bottom: 21px; */
    font-weight: bold;
}

/* style shout */
#shout{
    font-size: 18px;
    color: #222222;
    text-align: center;
}
#shout{
    padding-top: 24px;
    padding-bottom: 27px;
}

/* style laterestwork */
.sub-latest-work{
    height: 360px;
    width: 225px;
    margin-right: 19px;
}
.sub-latest-work:last-of-type{
    margin-right: 0px;
}
.sub-latest-work h3{
    font-size: 18px;
    color: #7f7d77;
    padding-top:13px;
    padding-bottom:21px;
}
.sub-latest-work p{
    margin-top:18px;
    margin-bottom:16px;
}


/* style footer */
#footer{
    background: #222222;
    padding-top: 30px;
    font-size: 12px;
}
.sub-footer{
    width: 225px;
    height:250px;
    margin-right:19px;
}
.sub-footer:last-of-type{
    margin-right:0px;
}
.sub-footer h3{
    font-size: 18px;
    color:#ffffff;
    padding-bottom: 23px;
}
.sub-footer h5{
    font-size:13px;
    color: #9f81a9;
}.sub-footer h6{
    font-size: 10px;
    margin-bottom: 15px;
}
.sub-footer a{
    color: #9f81a9;
}
.form-control{
  background: #353535;
  color: #ffffff;
  border: #353535;
}
#social{
    margin-top:20px;
}
.icon-social{
    padding: 9px;
    background: #353535;
    border-radius: 50%;
}
.icon-social:hover{
   background: #e6f091;
}


.copyright{
    background: #202020;
}
.copyright p{
    padding-bottom:10px;
}








/* 




@media (max-width: 1000px){
    .wp-inner-small{
        width:960px;
        margin: 10px auto; 
    }
   
}

@media (min-width: 1001px){
    .wp-inner-middle{
        width:1100px;
        margin: 0px auto; 
    }
} */
